h2 {
    text-align: center;
    font-size: 40px;
}

input {
    padding: 10px 25px;
    font-size: 25px;
}

button {
    border: transparent;
    background-color: aqua;
    font-size: 25px;
    padding: 12px 10px;
}


ul {
    font-size: 18px;
}